@import url("https://fonts.cdnfonts.com/css/k2d");

/* FIXED CLASSES */
:root {
  --navbg: #e6ebee;
  --navbg2: #dae0e3;
}
li {
  list-style-type: none;
}
a {
  color: #444;
  text-decoration: none;
}
body {
  position: relative;
  font-family: "Anek Latin", sans-serif;
  height: 100%;
}
/* Base styles */
.scroll-button {
  position: fixed;
  display: none;
  opacity: 0;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid #3bbd8b;
  color: #000000;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show button when active */
.scroll-button.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

/* Hover effect */
.scroll-button:hover {
  border: 1px solid #d239c5;
  background-color: transparent;
  transition: all 0.3s ease;
}
.scroll-button.hide {
  opacity: 0;
  transform: translateY(20px);
}

/* FIXED CLASSES */

nav.navbar {
  background-color: var(--navbg);
  box-shadow: 1px 1px 1px #d8d9da;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1000;
}

nav.navbar .nav-container {
  width: 90%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: auto;
}

nav.navbar .nav-container .logo {
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid #3e3b3b;
  padding: 0.5rem;
  border-radius: 5px;
}

nav.navbar .nav-container .logo:hover {
  color: #8e8e8e;
  transition: all 0.3s;
}

nav.navbar .nav-container .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}
nav.navbar .nav-container .nav-items span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
nav.navbar .nav-container .nav-items span i {
  display: none;
}

.hamburger {
  display: none;
  position: fixed;
  top: 1rem;
  font-size: 1.5rem;
  right: 5%;
}
.bg-dark {
  position: fixed;
  left: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00000098;
}

/* JSU */
.navAnimation {
  display: flex !important;
  animation: toggleNav 0.3s ease;
  transition: all 0.3s ease;
}
.navExitAnimation {
  display: flex !important;
  right: -100% !important;
  transition: all 0.3s ease;
}
.bgDarkAnimation {
  left: 0;
  display: flex !important;
  animation: bgDarkAnimation 0.3s ease;
  transition: all 0.3s ease;
}
.bgDarkExitAnimation {
  left: 100%;
  transition: all 0.3s ease;
}
@keyframes toggleNav {
  0% {
    right: -50%;
  }
  100% {
    right: 0;
  }
}
@keyframes bgDarkAnimation {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

nav.navbar .nav-container .nav-items a {
  font-size: 1.1rem;
  transition: all 0.3s;
}

nav.navbar .nav-container .nav-items a:hover {
  color: #784343;
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: all 0.3s;
}

.fixed-gap-fill {
  padding-top: 5rem;
}

/* MAIN */
main.main {
  width: 90%;
  margin: auto;
}

/* COVER IMAGE SLIDER */
.slider-container {
  position: relative;
  width: 100%;
  height: 25rem;
  display: block;
  background-color: #190b71;
  color: #fff;
  margin-bottom: 1rem;
  overflow: hidden;
}
.cover-bg {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
  width: 450px;
  aspect-ratio: 1;
}
.cover-bg img {
  width: 100%;
  height: auto;
}

.author-info-texts-header {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 50%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.author-info-texts-header h1 {
  font-size: 2rem;
}
.author-info-texts-header p {
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 100;
}

footer {
  position: absolute;
  bottom: 0;
  height: 5rem;
  background-color: #3e3b3b;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin-bottom: -10px;
}
footer .socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 1rem;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #00ff48;
}
.footer-gap-adjuster {
  height: 5rem;
}
.prof-des {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
  color: #5a5a5a;
  border: 1px solid #f0efef;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.prof-des aside:nth-child(1) {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.prof-des aside:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
}
.prof-des aside:nth-child(2) hr {
  width: 60%;
  margin-left: 1rem;
  height: 1px;
  background-color: #ccc;
  border: transparent;
}
.prof-des .responsibilities {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
}
.prof-des .responsibilities li {
  list-style-type: disc;
}
.professional-exp {
  padding: 0.6rem;
  width: 320px;
  border: 1px solid #f0efef;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1368px) {
  .cover-bg {
    width: 500px;
    top: 55%;
  }

  .author-info-texts-header {
    top: 45%;
    width: 60%;
  }
  .author-info-texts-header h1 {
    font-size: 2.6vw;
  }
  .author-info-texts-header p {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 1080px) {
  .cover-bg {
    width: 400px;
    top: 50%;
    right: 0;
  }

  .author-info-texts-header {
    top: 45%;
    width: 50%;
  }
  .author-info-texts-header h1 {
    font-size: 1.6rem;
    /* text-wrap: wrap; */
  }
  .author-info-texts-header p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  nav.navbar .nav-container .nav-items span i {
    display: block;
  }
  nav.navbar .nav-container .nav-items {
    display: none;
    position: fixed;
    top: 4rem;
    right: 0;
    min-width: 10rem;
    max-width: 80%;
    height: 100vh;
    background-color: var(--navbg2);
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 5%;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    overflow: auto;
    box-shadow: -2px 2px 2px #00000057;
    z-index: 1001;
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 5%;
  }
  .hamburger button {
    width: 1.5rem;
    aspect-ratio: 1;
  }
  .hamburger i {
    font-size: 1rem;
  }
  .cover-bg {
    top: 35%;
    left: 50%;
    right: 0;
    width: 400px;
    transform: translate(-50%, -50%);
  }
  .slider-container {
    height: 550px;
  }
  .author-info-texts-header {
    width: 100%;
    top: 50%;
    padding: 2rem;
    align-items: center;
    text-align: center;
    transform: translateY(0);
  }
  .author-info-texts-header p {
    font-size: 2.5vw;
  }
  .author-info-texts-header h1 {
    font-size: 5vw;
  }

  .prof-des {
    flex-wrap: wrap;
  }
  .professional-exp {
    width: 250px;
  }
  /* .prof-des aside:nth-child(1) {
    flex: 1;
  }
  .prof-des aside:nth-child(2) {
    flex: 1;
  } */
}

@media screen and (max-width: 468px) {
  .cover-bg {
    top: 26%;
    left: 50%;
    right: 0;
    width: 250px;
    transform: translate(-50%, -50%);
  }
  .slider-container {
    height: 400px;
  }
  .author-info-texts-header {
    width: 100%;
    top: 40%;
    padding: 1rem;
    align-items: center;
    transform: translateY(0);
  }
  .author-info-texts-header p {
    font-size: 4vw;
    text-align: justify;
  }
  .author-info-texts-header h1 {
    font-size: 5.5vw;
    text-align: center;
  }
}

/* RESEARCH STARTED */
.slide-container {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  background-color: #f2f4f5;
  overflow: hidden;
}
.slide-container .slide-img {
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slide-container .slider-textContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 50%;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.animationDown {
  position: absolute;
  display: block;
  animation: animationDown 1s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  z-index: 5;
}
@keyframes animationDown {
  0% {
    top: 0;
  }
  40% {
    top: 6px;
  }
  100% {
    top: 0;
  }
}
.animationDown::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  aspect-ratio: 1;
  border: 1px solid #ffaad5;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease;
}
.animationDown:hover {
  color: #000 !important;
  animation-play-state: paused;
}
.animationDown:hover::after {
  background-color: #ffffffd7;
  transition: all 0.3s ease;
}
.text--xxl-res {
  background: linear-gradient(45deg, #111111, #717171, #111111);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.k2d {
  font-family: "k2d", sans-serif;
}

.research-body {
  position: relative;
  width: 100%;
  padding: 5rem 0;
}
.research-body table {
  width: 100%;
  display: table-cell;
  border-collapse: collapse;
}

.research-body table th,
.research-body table td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

.research-body table th {
  background-color: #f2f2f2;
}

.research-body table tr:nth-child(odd) {
  background-color: #fdfdfd;
}

.research-body table tr:hover {
  background-color: #f8f8f8;
}
.research-body table td .table-td-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.research-body table td .table-td-div img {
  width: 8rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.research-body table td .table-td-div span {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.research-body table td .table-td-div span p:nth-child(1) {
  font-weight: 600;
}
.research-body table td .table-td-div span p:nth-child(2) {
  color: #363636;
}
/* .research-body table td .table-td-div p:nth-child(3) {
  width: 100%;
} */

@media screen and (max-width: 768px) {
  .slide-container {
    height: 250px;
  }
  .slide-container .slider-textContainer {
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #0000007d;
    transition: all 0.3s ease;
  }
  .slider-textContainer .animationDown {
    color: #fff;
    transition: all 0.3s ease;
  }
  .text--xxl-res {
    font-size: 1.5rem;
  }
  .research-body table td .table-td-div {
    padding: 1rem;
    flex-wrap: wrap;
  }

  footer {
    height: 8rem;
  }
}

@media screen and (max-width: 420px) {
  .slide-container .slider-textContainer {
    padding: 0.5rem;
  }
  /* TABLE */
  .research-body table td .table-td-div {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
  }
  .research-body table td .table-td-div img {
    width: 100%;
  }
  .research-body table td .table-td-div span {
    width: auto;
  }
}
/* RESEARCH END */
